---
layout: front
title: Ye Banished Privateers
---

<!-- ========== HEADER SECTION ========== -->
<section id="home" name="home"></section>
<div id="headerwrap">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <h1>Ye Banished Privateers</h1>
      </div>
    </div>
  </div><!-- /container -->
</div><!-- /headerwrap -->

<!-- ========== ABOUT - LIGHT SECTION ========== -->
<section id="about" name="about">
  <div id="g">
    <div class="container">
      <div class="row">
        <img class="img-circle" src="assets/img/logo.jpg" height="80" width="80">
        <h3>{{ site.data.about.header }}</h3>
        <p>{{ site.data.about.body }}</p>
      </div> <!-- Row -->
    </div><!-- /container -->
  </div><!-- /g -->
</section>

<div id="c">
  <div class="container">
    <div class="row">

      {% for thumb in site.data.thumbs %}
        <div class="col-md-3 col-xs-6 thumb">
          <a class="thumbnail fluid-image" href="assets/img/{{thumb.image}}">
            <img class="img-responsive" src="assets/img/{{thumb.image}}" alt="{{thumb.alt}}">
          </a>
        </div>
      {% endfor %}

    </div>
  </div>
</div>

<!-- ========== TOUR - GREY SECTION ========== -->
<section id="tour" name="tour"></section>
<div id="g">
  <div class="container">
    <div class="row">
      <h3>TOUR DATES</h3>
      <br>
      {% for tour in site.data.tourdates %}
        <div class="col-xs-12">
          <h4>{{tour.location}}</h4>
          <p class="poetryline">{{tour.date | date: "%B %d, %Y" }}</p>
          <p class="poetryline">{{tour.description}}</p>
          <br>
        </div>
      {% endfor %}
    </div>
  </div><!-- /container -->
</div><!-- /g -->

<section id="merchandise" name="merchandise"></section>
<div id="merchwrap">
  <div class="container">
    <div class="row">
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <h3>MERCHANDISE</h3>
      <a href="http://yebanishedprivateers.tictail.com"><h4><b>New album out!</b></h4></a>
      <br>
      <a class="btn btn-theme btn-lg" href="http://yebanishedprivateers.tictail.com">Ye Banished Store</a>
      <br>
      <br>
      <br>
    </div>	
  </div><!-- /container -->
</div><!-- /crewwrap -->


<section id="listen" name="listen"></section>
<div id="c">
  <div class="container">
    <div class="row">
      <h3>LISTEN</h3>
      <br>
      <br>
      <div class="col-md-3 port-space">
        <a href="https://soundcloud.com/ye-banished-privateers"><i class="fa fa-soundcloud fa-8x"></i></a>
      </div>
      <div class="col-md-6 port-space">
        <iframe width="100%" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/50384099&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
      </div>

      <div class="col-md-3 port-space">
        <a href="https://play.spotify.com/artist/16f8bHHqNwQWgqWMYyS9ij"><i class="fa fa-spotify fa-8x"></i></a>
      </div>	
    </div>	
  </div><!-- /container -->
</div><!-- /g -->

<!-- ========== CREW - GREY SECTION ========== -->
<section id="crew" name="crew"></section>
<div id="g">
  <div class="flex-container">
    <h3>CREW</h3>
    {% for crew in site.data.crew %}
      <div class="flex-item team">
        <img class="img-circle" src="assets/img/profiles/{{crew.image}}" height="120" width="120">
        <h4>{{crew.name}}</h4>
        <h5><i>{{crew.tagline}}</i></h5>
        {% for poetry in crew.poetry %}
          <p class="poetryline">{{poetry}}</p>
        {% endfor %}
      </div>
    {% endfor %}
  </div><!-- /container -->
</div><!-- /g -->

<!-- ========== FOOTER SECTION ========== -->
<section id="contact" name="contact"></section>
<div id="f">
  <div class="container">
    <div class="row">
      <h3>CONTACT US</h3>
      <br>
      <div class="col-sm-4">
        <a href="mailto:yebanishedprivateers@gmail.com"><i class="fa fa-envelope fa-2x"></i>
          <h4>e-mail</h4></a>
        <br>
      </div>
      <div class="col-sm-4">
        <a href="http://www.facebook.com/YeBanishedPrivateers"><i class="fa fa-facebook fa-2x"></i>
          <h4>facebook</h4></a>
        <br>
      </div>
      <div class="col-sm-4">	
        <a href="http://twitter.com/yebanished">
          <i class="fa fa-twitter fa-2x"></i>
          <h4>twitter</h4></a>
        <br>
      </div>
    </div>
  </div>
</div><!-- /container -->
  </div><!-- /f -->	

<!-- Menu -->
<nav class="menu" id="theMenu">
  <div class="menu-wrap">
    <h1 class="logo"><a href="index.html#home">Ye Banished Privateers</a></h1>
    <i class="fa fa-remove menu-close"></i>
    <a href="#home" class="smoothScroll">Home</a>
    <a href="#tour" class="smoothScroll">Tour dates</a>
    <a href="#merchandise" class="smoothScroll">Merchandise</a>
    <a href="#listen" class="smoothScroll">Listen</a>
    <a href="#crew" class="smoothScroll">Crew</a>
    <a href="#contact" class="smoothScroll">Contact</a>
    <a href="mailto:yebanishedprivateers@gmail.com"><i class="fa fa-envelope"></i></a>
    <a href="http://www.facebook.com/YeBanishedPrivateers"><i class="fa fa-facebook"></i></a>
    <a href="http://twitter.com/yebanished"><i class="fa fa-twitter"></i></a>
    <a href="http://www.myspace.com/yebanishedprivateers"><i class="fa fa-user"></i></a>
  </div>

  <!-- Menu button -->
  <div id="menuToggle"><i class="fa fa-reorder"></i></div>
</nav>
